{% extends "layout.html" %}
{% load static %}
    {% block head %}
        <title>AkunaTV - {{ current_category.name }}</title>
    {% endblock %}
    {% block body %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3 mb-1 " >

            <a class="btn btn-outline-danger section" href="{% url 'home' %}">Hemmesi</a>
            {% for category in categories %}
                {% if category.name == current_category.name %}
                    <a class="btn btn-outline-danger section active" href='/category/{{category.pk}}'>{{ category.name }}</a>
                {% else %}
                    <a class="btn btn-outline-danger section" href='/category/{{category.pk}}'>{{ category.name }}</a>
                {% endif %}
            {% endfor %}
        </div>

        {% for row in rows %}
            <div class="row">

                {% for movie in row %}
                
                    <div class="col-2">
                        <a href='movie/{{ movie.pk }}' style="text-decoration: none;">
                            <div class="col serieAnim" style="border-radius: 5px;background-repeat: no-repeat; height: 40vh;background-image: url('/media/{{ movie.preview }}');">
                            </div>
                        </a>
                        
                        <div class="col">
                            <a href='movie/{{ movie.pk }}' style="text-decoration: none;">
                                <h1 class="h6 text-white mt-2">{{ movie.title }}</h1>
                                <p class='text-secondary'>{{ movie.country.name }}, {{ movie.release_time.year }}</p>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endblock %}