{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Streamo</title>

		<link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">



	</head>
	<body>

			<header class="blog-header py-2" style="border-bottom: 1px solid #1E1E1C;">
			  <div class="row flex-nowrap justify-content-between align-items-center">
				<div class="col-4 pt-1">
					<a class="h1 text-info text-decoration-none FontsGUGI" href="#">Stremo</a>
				</div>
				<div class="col-6 d-flex justify-content-end align-items-center">
				    <form class="form-inline">
						<div class="row">
							<div class="col">
								<input class="form-control mr-sm-2 bg-dark" type="search" placeholder="Gözle" aria-label="Search">
							</div>
							<div class="col">
								<button class="btn btn-outline-light my-2 my-sm-0" type="submit">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
										<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
									</svg>
								</button>
							</div>
						</div>
					</form>
				</div>
			  </div>
			</header>



			<div class=" text-secondary py-5 mt-2 text-center" style="background-position: center;background-image: url('{% static 'assets/img/serie/casa_de_papel/wp6126886.jpg' %}');background-size: 100%;">
				<div class="py-5 my-5" style="background-color: rgba(0, 0, 0, 0.5);">
				  <h1 class="display-5 FontsGUGI text-white">LA CASA DE PAPEL</h1>
				  <div class="col-lg-6 mx-auto">
					<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					  <a href="#" class="btn btn-outline-light btn-lg px-4"><i class="fa fa-arrow-down"></i> Download</a>
					</div>
				  </div>
				</div>
			  </div>

			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-3 mb-1 " >
			  	<!-- categories -->

				<a class="btn btn-outline-danger section active">Hemmesi</a>
				{% for category in categories %}
					<a class="btn btn-outline-danger section" href='category/{{category.pk}}/'>{{ category.name }}</a>
				{% endfor %}
			</div>
			<div class="row">


				<div class="col-2">
				  <div class="col serieAnim" style="border-radius: 5px;background-repeat: no-repeat; height: 40vh;background-image: url(dist/img/serie/08a8c45b422cc4d3d85be067729936f3.jpg);">
				  </div>
				  <div class="col">
					  <h1 class="h6 text-white mt-2">The Walking Dead </h1>

					  <div class="d-flex justify-content-between text-secondary">

						<div class="col-5">
						  <p>Saison I</p>
						</div>
							
						<div class="col-3 d-flex justify-content-between">
							<a><i class="fa fa-star"></i></a>
							<a><i class="fa fa-arrow-down"></i></a>
							<a><i class="fa fa-arrow-up"></i></a>
						</div>
					  	</div>

				  </div>
				</div>


				<div class="col-2">
					<div class="col serieAnim" style="background-image: url(dist/img/serie/7fa40a04d4429518b6688b9fd09cd035.jpg);">
					</div>
					<div class="col">
						<h1 class="h6 text-white mt-2">Raised By Wolves </h1>
  
						<div class="d-flex justify-content-between text-secondary">
  
						  <div class="col-5">
							<p>Saison I</p>
						  </div>
							  
						  <div class="col-3 d-flex justify-content-between">
							  <a><i class="fa fa-star"></i></a>
							  <a><i class="fa fa-arrow-down"></i></a>
							  <a><i class="fa fa-arrow-up"></i></a>
						  </div>
							</div>
  
					</div>
				  </div>

				  <div class="col-2">
					<div class="col serieAnim" style="background-image: url(dist/img/serie/74b7f51b3bcd024cc64ebe85b0c3fef2.jpg);">
					</div>
					<div class="col">
						<h1 class="h6 text-white mt-2">The Walking Dead </h1>
  
						<div class="d-flex justify-content-between text-secondary">
  
						  <div class="col-5">
							<p>Saison I</p>
						  </div>
							  
						  <div class="col-3 d-flex justify-content-between">
							  <a><i class="fa fa-star"></i></a>
							  <a><i class="fa fa-arrow-down"></i></a>
							  <a><i class="fa fa-arrow-up"></i></a>
						  </div>
							</div>
  
					</div>
				  </div>

				  <div class="col-2">
					<div class="col serieAnim" style="background-image: url(dist/img/serie/8f35cadbb409a14931907cd02c3d839d.jpg);">
					</div>
					<div class="col">
						<h1 class="h6 text-white mt-2">Fear The Walking Dead </h1>
  
						<div class="d-flex justify-content-between text-secondary">
  
						  <div class="col-5">
							<p>Saison I</p>
						  </div>
							  
						  <div class="col-3 d-flex justify-content-between">
							  <a><i class="fa fa-star"></i></a>
							  <a><i class="fa fa-arrow-down"></i></a>
							  <a><i class="fa fa-arrow-up"></i></a>
						  </div>
							</div>
  
					</div>
				  </div>

				  <div class="col-2">
					<div class="col serieAnim" style="background-image: url(dist/img/serie/casa_de_papel/wp6201564.jpg);">
					</div>
					<div class="col">
						<h1 class="h6 text-white mt-2">Money heist </h1>
  
						<div class="d-flex justify-content-between text-secondary">
  
						  <div class="col-5">
							<p>Saison I</p>
						  </div>
							  
						  <div class="col-3 d-flex justify-content-between">
							  <a><i class="fa fa-star"></i></a>
							  <a><i class="fa fa-arrow-down"></i></a>
							  <a><i class="fa fa-arrow-up"></i></a>
						  </div>
							</div>
  
					</div>
				  </div>

				  <div class="col-2">
					<div class="col serieAnim" style="background-image: url(dist/img/serie/the_100/cd9f75fef297ba2b14acab5f98a4cb3f.jpg);">
					</div>
					<div class="col">
						<h1 class="h6 text-white mt-2">The 100 </h1>
  
						<div class="d-flex justify-content-between text-secondary">
  
						  <div class="col-5">
							<p>Saison I</p>
						  </div>
							  
						  <div class="col-3 d-flex justify-content-between">
							  <a><i class="fa fa-star"></i></a>
							  <a><i class="fa fa-arrow-down"></i></a>
							  <a><i class="fa fa-arrow-up"></i></a>
						  </div>
							</div>
  
					</div>
				  </div>
			  </div>